/*Aeone Singson - Code 201 - About Me*/
/*Lab 2 Resubmit*/

/*applies to whole doc*/
*{
  font-family: Garamond;
}

/*style headers*/
header{
  color: green;
}

h1{
  color: #008080;
}

#about-me{
  color: #99ccff;
}
